{% extends 'base.html' %}

{% block mainContent %}
<form method = "POST" action="{% url 'post-edit' post.id %}" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
        <label for="recipient-name" class="col-form-label">제목</label>
        <input type="text" class="form-control" id="recipient-name" name="title" value="{{post.title}}">
    </div>
    <div class="mb-3">
        <label for="message-text" class="col-form-label">내용</label>
        <textarea class="form-control" id="message-text" name = "body">{{post.body}}</textarea>
    </div>
    <div class="input-group mb-3">
        <input type="file" class="form-control" id="inputGroupFile02" name="image">
        <label class="input-group-text" for="inputGroupFile02">Upload</label>
    </div>
    <div class="modal-footer">
                <input class="btn btn-primary" style="background-color:pink; border: None;" type = "submit" value = "완료">
        </div>
</form>


{% endblock %}