{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- custom css -->
    <link rel="stylesheet" href="{% static 'css/springFall.css' %}">
    <link rel="stylesheet" href="{% static 'css/card.css' %}">
    <link rel="stylesheet" href="{% static 'css/mainBlog.css' %}">
    <link rel="stylesheet" href="{% static 'css/blogNavbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/dog.css' %}">
    <link rel="stylesheet" href="{% static 'css/nonePostCharacter.css' %}">

    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">

    <title>LikeLion's Blog</title>
</head>

<body>
    <div class="main-container">
        <!-- navbar 
            navbar 관련 코드 파트 입니다.
            - <a> tag 안에 지정한 url을 넣어주시면 됩니다.
            - 각각 data-hover 를 주고 있기 때문에 hover effect를 넣어주시고 싶으시다면 넣어주시기 바랍니다.
         -->
        <ul class="menu">
            <li class="menu__item">
                <a href="/" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Main">
                            Main
                        </span>
                        <span class="menu__second-word" data-hover="Home">
                            Home
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="{% url 'my-post' %}" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="My">
                            My
                        </span>
                        <span class="menu__second-word" data-hover="Post">
                            Post
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Communication">
                            Communication
                        </span>
                        <span class="menu__second-word" data-hover="Board">
                            Board
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Introduce">
                            Introduce
                        </span>
                        <span class="menu__second-word" data-hover="Me">
                            Me
                        </span>
                    </span>
                </a>
            </li>

            <li class="menu__item">
                <a href="#" class="menu__link">
                    <span class="menu__title">
                        <span class="menu__first-word" data-hover="Call">
                            Call
                        </span>
                        <span class="menu__second-word" data-hover="Me">
                            Me
                        </span>
                    </span>
                </a>
            </li>
        </ul>
        {% block mainHeader %}
        {% endblock %}

        {% block mainContent %}
        {% endblock %}

        <footer>
            <ul>
                <li>
                    <div class="icon" data-icon="L"></div>
                    <div class="text">
                        <h4><span class="footer-point-color">A</span>bout</h4>
                        <div>중앙대학교 멋쟁이 사자차럼 9기에서 만들고 있는 개인 블로그 입니다.<br><a href="#"> Read more </a></div>
                    </div>
                </li>
                <li>
                    <div class="icon" data-icon="a"></div>
                    <div class="text">
                        <h4><span class="footer-point-color">CAU</span> Like<span class="footer-point-color">L</span>ion
                        </h4>
                        <div>프로그래밍을 통해 세상에 필요한 서비스와 가치를 만드는 동아리 입니다.<br>
                            <a href="#"> Read more</a></div>
                    </div>
                </li>
                <li>
                    <div class="icon" data-icon="I"></div>
                    <div class="text">
                        <h4><span class="footer-point-color">S</span>KILL</h4>
                        <div>
                            <div>Django</div>
                            <div>Python</div>
                            <div>HTML</div>
                            <div>CSS</div>
                            <div>JS</div>
                            <a href="#"> Read more</a>
                        </div>
                    </div>
                </li>
            </ul>

            <div class="bar">
                <div class="bar-wrap">
                    <div class="clear"></div>
                    <div class="copyright">&copy; OEREO 2021 All Rights Reserved.</div>
                </div>
            </div>
        </footer>
    </div>

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(window).load(function () {
            $('body').sakura();
        });
    </script>
    <script>
        var myModal = document.getElementById('myModal')
        var myInput = document.getElementById('myInput')

        myModal.addEventListener('shown.bs.modal', function () {
            myInput.focus()
        })
    </script>
</body>
<!-- Sakura Effect 
    - 벚꽃이 떨어지는 효과를 주기 위한 js 파일입니다.
 -->
<script src="../static/js/sakuraEffect.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"
integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8"
crossorigin="anonymous"></script>
</html>